{% extends 'admin/base_admin.html.twig' %}

{% block title %}Hello Controller!{% endblock %}

{% block body %}
  <div class="example-wrapper">
    <h1>Hello, {{ app.user.firstName|default(app.user.email) }}!</h1>

    <ul class="list-group-numbered">
      <h2 class="my-3">Choose your entity</h2>
      {% for key, link in headerLinks %}
        <li>
          <a class="text-dark" href="{{ path(link) }}">{{ key }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}