<header class="p-3 bg-dark text-white mb-5">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {% for hLink in headerLinks %}
          <li>
            <a href="{{ path(hLink.link) }}" class="nav-link px-2 text-white">{{ hLink.name }}</a>
          </li>
        {% endfor %}
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
        <a href="#" class="link-dark text-decoration-none me-2" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <button type="button" class="btn btn-outline-light">Sign out</button>
      </div>
    </div>
  </div>
</header>
<script>
  const link = document.querySelector(`a[href='${window.location.pathname}']`);
  link.classList.remove('text-white');
  link.classList.add('text-secondary');
</script>